---
---

@import "minimal-mistakes/skins/dark";  // your skin
@import "minimal-mistakes";             // load theme

// custom tweaks
h1, h2, h3 {
  font-family: "Segoe UI", Roboto, sans-serif;
  font-weight: 700;
}

.page__content {
  font-size: 1.05rem;
  line-height: 1.7;
}
